<% layout("./layouts/boilerplate.ejs")%>
<link rel="stylesheet" href="/CSS/folder.css">
  <body>
    <nav class="navbar navbar-expand-md sticky-top navbar-light bg-body-light border-bottom">
      <div class="container-fluid">
        <div class="subject_head"><i class="fa-brands fa-neos"></i>
          <h2>Nault</h2>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link " style="color: white;" aria-current="page" href="/classroom/enter/folder/<%=folder._id%>">Home</a>
            <a class="nav-link subject_enter create" style="color: white;" href="#">Add file</a>
            <a class="nav-link contacts" style="color: white;">Contacts</a>
            <a class="nav-link collapse-contacts" style="color: white;display:none;">nault.org@gmail.com</a>
            

              <% if(folder.author){ %>
            <a class="nav-link" style="color: white;">Created By ~<%=folder.author%></a>
            <% } %>
          </div>
          <% if(currUser.username==folder.author ){ %>
              <button class="btn btn-danger FolderDelete">Delete Folder</button>
            
          <% } %>

          <div class="navbar-nav ms-auto " style="display: none">
            <% if(!currUser){%>
              <a class="nav-link" href="/signup">Signup</a>
              <a class="nav-link" href="/login">Login</a>
              <%}%>
                <%if(currUser){%>
                  <a class="nav-link" href="/logout">Logout</a>
                  <%}%>
            
          </div>
        </div>
      </div>

    </nav>



    <% if(folder) {%>
      <div class="subject_form">
        <form enctype="multipart/form-data" action="/upload/<%=folder._id%>" class="needs-validation" method="post">
          <div class="container col-9 mt-5">
            <p>Files with a size less than 10 Mb are preferred. <br> If your file is greater than 10 Mb, then <a
                href="https://www.ilovepdf.com/compress_pdf"> click here. </a></p> <br />
            <input type="text" class="form-control mx-auto" name="name" placeholder="Name (Optional)"><br>
            <input required type="file" class="form-control subject_name" name="image" />
            <div class="invalid-feedback">Enter Valid File</div>
            <br />
            <div class="d-grid">
              <button class="btn btn-success mx-auto button">Add</button>
            </div>
          </div>
          <br/>
        </form>
      </div>
      <div class="deleteFolderConform" style=" display: none; position: absolute;">
        <p class="warning-p"><span style="color: red; font-size: 1rem !important;">Warning </span> <br>Deleting this folder will also delete all files. <br> This action is irreversible. <br>Proceed ?</p>
         <form action="/folder/delete/<%=folder._id%>?_method=DELETE" method="post" style="display: inline;">

        <input type="text" class="form-control mx w auto "name="name" placeholder="Enter folder name " style="width: max-content; margin: auto !important;margin-top: 15px !important;"><br>
         <button class="btn btn-danger" style="margin-left: 20px;">delete</button> </form>
        <button class="btn btn-dark deleteFolderCancel" style="margin-left: 40px;margin-right: 10px; background: grey; border: none; display:inline !important">cancle</button>
       
       
      </div>
      <% } %>
        <%-include("../includes/flash.ejs")%>
        <div class="arrow"> <a href="/folder/back/<%=folder._id%>"><i class="fa-solid fa-arrow-left" style="color: white;font-size: 0.8rem;"></i></a></div> 

      <% if (folder.image.length>0){%>
          <h3 class="h2forfolder" style="color: blue;">
            <%= folder.name %>
          </h3>
         
        <div class="del-mes" style="display: none;margin: auto !important;">
        <h6>Are you sure you want to delete ?</h6>
          <button class="btn btn-primary del-folder cancel">cancle</button> 
          <a id="deleteLink" href=""><button class="btn btn-danger del-folder">delete</button></a>
        </div>
          <div class="box">
            <% for (i of folder.image) { %>
              <div class="data">
                <a href="<%= i.url %>" class="data">
                  <img
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/182px-PDF_file_icon.svg.png"
                    alt=""></a>
                  <p>
                  <span style="color: blue;"> <%= (i.filename) %></span> <br>
                  <span class="username" style="color: black;" >~<%=i.author %></span>   &nbsp;<%if(i.author==currUser.username) {%> <i class="fa-solid fa-trash-can" onclick="deleteimage('<%= i.originalName %>')"></i><% } %>
                  </p>
              </div>
            <% } %>
          </div>
          <% } else { %>
            <br>
              <h6>Files Needed<br>Click 'Add Files' button in navbar  </h6>
            <% } %>


  </body>

 
<script>
  let delteIlcon=document.querySelectorAll(".fa-trash-can");
  let delMes=document.querySelector(".del-mes"); 

  let cancelButton=document.querySelector(".cancel")
  let folderDeleteButton=document.querySelector(".FolderDelete");
  let folderDeleteForm = document.querySelector(".deleteFolderConform");
 let folderDeleteCancel=document.querySelector(".deleteFolderCancel");
  folderDeleteButton.addEventListener("click",()=>{
  folderDeleteForm.style.display="inline-block";
  });

  folderDeleteCancel.addEventListener("click",()=>{
    folderDeleteForm.style.display="none";
  });



  delteIlcon.forEach(icon=>{
  icon.addEventListener("click",()=>{
    if(delMes.style.display="none"){
      delMes.style.display="inline-block";
      delMes.style.margin="auto";
     
    }
    else if(delMes.style.display="inline-block"){
      delMes.style.display="none";
    
    }
  });});

cancelButton.addEventListener("click",()=>{
  deleteID="";
  delMes.style.display="none";
  console.log(deleteID);
})
function deleteimage(data){
deleteID=data;
console.log(deleteID);
let deleteLink = document.getElementById("deleteLink");
let folderId = "<%= folder._id %>";

// Assuming delID is defined elsewhere in your code

deleteLink.href = `/folder/delete/${deleteID}/${folderId}`;
}




</script> </html>
  <script src="/public/js/script.js"></script>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');
  </style>
