<% layout("./layouts/boilerplate.ejs")%>
<link rel="stylesheet" href="/CSS/subject.css">
<body>
  <nav
    class="navbar navbar-expand-md sticky-top navbar-light bg-body-light border-bottom"
  >
    <div class="container-fluid">
      <div class="subject_head">
        <i class="fa-brands fa-neos"></i>
        <h2>Nault</h2>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-link"
            aria-current="page"
            href="/classroom/enter/<%=subject._id%>"
            style="color: white;"
            >Home</a
          >
          <a class="nav-link subject_enter create" href="#"  style="color: white;">Add Folder</a>
          <a class="nav-link contacts" style="color: white;">Contacts</a>
        <a class="nav-link collapse-contacts" style="color: white;display:none;">nault.org@gmail.com</a>
          
          <% if(subject.author){ %>
            <a class="nav-link" style="color: white;">Created By ~<%=subject.author%></a>
            <% } %>
            <% if(currUser.username==subject.author ){ %>
              <button class="btn btn-danger FolderDelete" style="width:fit-content !important;">Delete Subject</button>
            <% } %>

        </div>
       
      </div>
    </div>
  </nav>
  <div class="subject_form">
    <form
      action="/subject/folder/<% if(subject){ %><%=subject._id%><% } %>"
      class="needs-validation"
      novalidate
      method="post"
    >
      <div class="container col-9 mt-5">
        <br />
        <input
          required
          type="text"
          class="form-control subject_name"
          name="name"
          placeholder="Name"
        />
        <div class="invalid-feedback">Enter Valid Name</div>
        <br />
        <div class="d-grid">
          <button class="btn btn-success d-grid col-8 mx-auto button">
            Add
          </button>
        </div>
      </div>
      <br />
    </form>
  </div>
  <div class="deleteFolderConform" style=" display: none; position: absolute;">
        <p class="warning-p"><span style="color: red; font-size: 1rem !important;">  Warning </span>  <br>Deleting this subject will also delete all its folders <br> and files. <br> This action is irreversible. <br> Proceed ?</p>
        <form action="/subject/delete/<%=subject._id%>?_method=DELETE" method="post" style="display: inline;">

        <input type="text" class="form-control mx auto "name="name" placeholder="Enter subject name " style="width: max-content; margin: auto !important;margin-top: 15px !important;"><br>
         <button class="btn btn-danger" style="margin-left: 20px;">delete</button> </form>
        <button class="btn btn-dark deleteFolderCancel" style="margin-left: 40px;margin-right: 10px; background: grey; border: none; display:inline !important">cancle</button>
       
       
      </div>
                                  
               <%-include("../includes/flash.ejs")%>

  <% if(subject) {%>
  <div class="folder">
         <div class="arrow"> <a href="/subject/back/<%=subject._id%>"><i class="fa-solid fa-arrow-left" style="color: white;font-size: 0.8rem;"></i></a></div> 
      <br>
    <h2 class=" h2forfolder"><%=subject.username%></h2>
    <% if(subject.folder.length>0){ %>
        <h3 class="folderHeading">Folders</h3>
        <% for(sub of subject.folder){ %>
    <form action="/folder/enter/<%=sub._id%>"> <div class="folder1">  <button class="btn  btnF btn-success"> <%=sub.name%>  </button> </div></form>
     <% } %>
    <% }else{ %>
      <br>
              <h6>Folder Needed<br>Click 'Add Folder' button in navbar  </h6>
    <% } %>
  </div>

  <% }else{ %>
  <h3>No Subject Found!</h3>
  <p><a href="/classroom">Go to home</a></p>
  <% } %>
</body>
<script src="/public/js/script.js"></script>
<script>
  let folderDeleteButton=document.querySelector(".FolderDelete");
  let folderDeleteForm = document.querySelector(".deleteFolderConform");
 let folderDeleteCancel=document.querySelector(".deleteFolderCancel");
  folderDeleteButton.addEventListener("click",()=>{
  folderDeleteForm.style.display="inline-block";
  });

  folderDeleteCancel.addEventListener("click",()=>{
    folderDeleteForm.style.display="none";
  });
</script> 
<style>
 

  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap");
</style>
